[2017-12-19 03:39] finelycheng opened #15 "issuer cannot be empty"
when i boot the application  with the args

mvn -Dokta.oauth2.issuer=https://dev-123456.oktapreview.com/oauth2/default \
    -Dokta.oauth2.clientId=YourClientId \
    -Dokta.oauth2.clientSecret=YourClientSecret

this happend
java.lang.IllegalArgumentException: issuer cannot be empty
	at org.springframework.util.Assert.hasText(Assert.java:181)
	at com.okta.spring.oauth.discovery.OidcDiscoveryClient

[2018-06-18 13:33] bdemers commented on #15
Hey @finelycheng sorry for not seeing this earlier! (no excuse really)

There was a similar parsing error in an earlier version (resolved now), if you want to give it another shot let us know how it goes!

[2018-06-18 13:33] #15 closed

[2018-08-29 18:05] bdemers opened #30 "Custom hosted example requires orgUrl to be defined"
The orgUrl should be automatically discovered based the issuerUrl,  in some cases this is NOT the case.

Also, if the orgUrl is already defined (or defined for a different Okta org) in the `~/.okta/okta.yaml` this discovery is NOT performed and the application might be left mis configured

[2018-08-29 18:06] bdemers commented on #30
Possibly just remove the reference for oktaClientProperties and parse the oktaOAuth2Properties.getIssuer() directly

[2018-09-05 21:48] nbarbettini opened #32 "Consistent placeholders and labels"
Sweep through readme and code to make sure labels and placeholders follow the pattern here: https://oktawiki.atlassian.net/wiki/spaces/UX/pages/470681125/Developer+Experience+-+Okta+Domain+Labels

- [ ] `https://{yourOktaDomain}` (not `https://{yourOktaDomain}.com`)
- [ ] `{clientId}`
- [ ] `{clientSecret}`

[2018-10-17 03:31] tinnghia opened #34 "Not picking up the properties defined in application.yml"
When I added these properties in application.yaml instead, I got error : **localhost** redirected you too many times. The page it was attempting to visit is 'http://localhost:8080/authorization-code/callback'.

[2018-10-24 13:41] bdemers commented on #34
Which properties? was it an`application.yml` (note the missing 'a')

Which version of Spring Boot are you using?

[2018-10-28 13:40] bdemers commented on #34
What is the path to the file?  What error are you seeing?

[2018-10-28 14:07] tinnghia commented on #34
I just actually modified the application.yml after cloned https://github.com/okta/samples-java-spring/tree/master/okta-hosted-login project. The application.yml is in its classpath. The following error appeared in console when clicked Login button:

[code]

By the way, if you switch to use properties in application.yml , does that work for you?

[2018-10-29 15:00] bdemers commented on #34
How is your Okta Web/OIDC Application configured in the Okta Admin console?

[2019-01-07 17:16] bdemers commented on #34
Closing due to inactivity, please reopen if you are still having problems!

[2019-01-07 17:16] #34 closed

[2019-01-25 16:16] neerazz opened #38 "invalid_token_response"
I am getting a the below token error. I have cloned the project and have replaced the client-id and clientsecret.

Login Page is loaded with URL: https://dev-763068.oktapreview.com/login/login.htm?fromURI=/oauth2/v1/authorize/redirect?okta_key=BvQsZtJm7l_qP3s_-NGKVXn79s9JMM3OhKX6p5XZLVQ

After entering the login details the URL is: http://localhost:1001/login?error

Error message:
[invalid_token_r

[2019-02-21 21:13] mraible opened #39 "Running `mvn install` from the top level doesn't work"
[code]

[2019-02-25 19:03] bdemers commented on #38
Hey @neerazz!
Sorry we missed this.  Were you able to get past this? Can you add the full stack track?

[2019-02-26 17:54] #39 closed

[2019-02-28 20:21] #30 closed

[2019-03-05 17:45] #32 closed

[2019-03-10 00:20] neerazz commented on #38
@bdemers The problem was sorted out. I was giving an incorrect Login redirect URIs.

[2019-03-10 00:20] #38 closed

[2019-03-11 14:45] bdemers commented on #38
Thanks for the follow up @neerazz !

[2019-03-27 16:09] mraible opened #44 "Custom Login example doesn't return correct orgUrl"
I tried to reproduce my [Java i18n example](https://developer.okta.com/blog/2019/02/25/java-i18n-internationalization-localization) today with the custom-login sample. I created a `.okta.env` file with my settings in it:

[code]

Then I ran `source .okta.env && ./mvnw` to start the Spring Boot app. When I try to log in, it says it can't connect to the server.

<img width="421" alt="Screen Shot 201

[2019-03-27 16:59] mraible commented on #44
Changing the logic to the following seems to work:

[code]

Should I create a PR, or is there a better way @bdemers?

[2019-03-27 17:00] mraible commented on #44
Nevermind, just saw the error - I had three slashes in my issuer URL. Will close.

[2019-03-27 17:00] #44 closed

[2019-06-12 09:47] snackycracky opened #48 "No qualifying bean of type 'org.springframework.security.oauth2.jwt.JwtDecoder'"
executing `mvn spring-boot:run`

results in:

[code]

[2019-06-12 10:15] snackycracky commented on #48
I had to set

[code]
in the properties.yml
or:
[code]

[2019-06-12 10:15] #48 closed

[2019-06-12 14:02] bdemers commented on #48
This is expected, thanks for the follow up @snackycracky !

[2019-07-15 15:54] andyxtran opened #51 "Okta-hosted-login sample app "logout" button does not log out a user."
When running the Okta-hosted-login sample app, clicking the logout button redirects me back to the home page. Issue comes when clicking the login button... it sends me back to the user's profile page instead of redirecting to okta's login page. The login doesn't actually log out a user. This is true for both normal and incognito browser mode.

[2019-07-15 16:00] bdemers commented on #51
Thanks @andyxtran !

We are tracking this under: okta/okta-spring-boot#126
This will be supported in the next version of Spring Security.

We will have the option to kill the application's session, or both the application session and the "SSO Session".

You can try out Spring Security 5.2 M2 if you want to give it a shot today.

[2019-07-15 16:00] #51 closed

[2019-07-15 16:25] andyxtran commented on #51
Ok great, thanks!

[2019-08-16 23:33] vekdeq commented on #51
Hi Brian, How to try this using Spring Security 5.2 version. I am having Okta Login page and Okta IDP as my SSO. Current spring security version is 5.1.5 with okta spring starter kit. I will explicitly add  5.2 version, but still I need to know what changes are required in code / prop configs. Can you please guide me ?

Vivek

[2019-08-17 05:49] bdemers commented on #51
Hi @vekdeq
This is similar to a question you asked on another issue, let’s keep the thread in one place to make it easier for other folks to follow.

[2019-08-17 16:55] vekdeq commented on #51
Yes, My apologies !! There are too many examples / blogs by different authors - but none consolidated APIs docs / examples catering all scenarios / use cases. We have already case open with Okta Team - and awaiting response. We can continue our discussion at other issue.

[2020-05-27 03:48] focuscoder opened #56 "local example issues"
Hello ,
      I have  downloaded java example of  resource server examples and angular example, I make sure resource server it's running on port 8000. and angular example it is running. but  resource server response status code 401 and response header show :
WWW-Authenticate: Bearer error="invalid_token", error_description="An error occurred while attempting to decode the Jwt: Invalid token , what

[2020-05-27 13:06] timsamart opened #57 "In the Example there is an error in the running script of mvn (missing space)"
[code]

should be:
[code]

[2020-05-27 13:35] bdemers commented on #57
Hey @timsamart!
Maven documentation typically refers to setting system properties as the former: https://books.sonatype.com/mvnref-book/reference/running-sect-options.html

Did it not work for you?

[2020-05-27 13:40] bdemers commented on #56
What did you use for an issuer in both of the applications?

[2020-05-27 15:06] timsamart commented on #57
Yes that's true, but for a beginner trying out the code by copy pasting the example does not work. This could have saved me half an hour because the error thrown is not specific.

[2020-05-27 16:20] bdemers commented on #57
Hey @timsamart I'm sorry, but I'm still not following the `-Dkey=value` syntax is valid for Maven and Java.  If that isn't working for you can you run `mvn --version` and include the output below?

[2020-05-27 18:58] timsamart commented on #57
@bdemers I am running the example on a windows machine through the powershell maybe that's the problem?

[2020-05-27 19:10] bdemers commented on #57
Could be, what version of Maven and Java are you using? (`mvn --version`)
This sounds like there might need to be a lot of doc changes elsewhere on the internet, so I want to make sure I have a good test case to bring back to the Maven project

[2020-05-27 20:22] timsamart commented on #57
@bdemers
[code]

[2020-05-27 21:05] timsamart commented on #57
@bdemers I guess the powershell thinks that `-Dokta` is the flag because mvn tries to resolve `.oauth2.issuer` as a plugin which fails of course.

[2020-05-27 21:42] bdemers commented on #57
Thanks @timsamart this helps!

I just found another ref of the same problem: https://stackoverflow.com/questions/6347985/cannot-run-maven-using-mvn-d-argument-within-microsoft-powershell-but-works

[2020-06-02 11:35] albvol opened #58 "[front-end] 'okta.oauth2.issuer' not found"
After starting the front-end example with the following command:
[code]

The maven project starts without problems but, as soon as I load http://localhost:8080/ the bash console shows the following error:
[code]
with root cause

[code]

I am using the following maven version:
Apache Maven 3.6.3 (cecedd343002696d0abb50b32b541b8a6ba2883f)
Maven home: /opt/apache-maven
Java version: 1.8.0_131, vendor

[2020-06-02 13:45] bdemers commented on #58
Hey @albvol!

Thanks for bringing this up.  The problem was missing "fork" configuration in the spring-boot-maven-plugin:
https://github.com/okta/samples-java-spring/pull/59/files#diff-a19e27ede91d7f2db76a4cf0fbec8c20R39-R41

The main goal of the "frontend" sample is to be able to quickly test the resource-server example, but in a way that is comfortable for Java developers (i.e. it doesn't requir

[2020-06-02 16:53] #58 closed

[2020-06-11 04:43] HongliBu opened #61 "401 Error when using authorization server rather than "default""
When using resouce-server, if the okta 'default' authorization server is switched off, and the only issuer we can use is https://domain.okta.com , the program will throw 401 error"Invalid Token", how to resolve this problem?

[2020-06-15 17:52] bdemers commented on #61
Hi @HongliBu
When creating a Resource Server with this library, access tokens are validated locally, and only work with Okta's "custom authorization server", by out of the box developer accounts have one named "default"

You can contact sales or support to get this feature turned on.

Alternatively, you can use Spring Security directly (without the Okta starter): https://docs.spring.io/spring-secu

[2020-06-15 17:52] #61 closed

[2020-07-20 18:48] bdemers opened #63 "Change name attribute"
Change home.html to use `${#authentication.principal.attributes['name']}` in examples, this _should_ work regardless of how the spring user-info mapping is configured (and makes it more obvious how to get other attributes).

[2020-08-18 20:41] haishengwu-okta opened #64 "Caveats in README"
## Missing actual maven command

[code]

- Turn out it's missing `spring-boot:run` to the end.
- one nit: omit optional parameters and may have another section to describe what are all supported parameters

## How to update application.yml

[code]
How to update `application.yml`? Are we assuming developers has enough knowledge of sprint-boot?
I wonder if it makes sense to just add example (for cop

[2020-08-19 16:04] bdemers commented on #64
This project has a default goal of `spring-boot:run` That command _should_ work as is.  Where you following these steps while working on a different project?
(I'm not against `spring-boot:run` to the doc, just trying to understand how you were following along)

Our official guides link off to https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-external-config.html to expla

[2020-08-19 19:49] haishengwu-okta commented on #64
I got build error if omit `sprint-boot:run`.

[code]

If I understand correctly, one nuance when converting to `yml` is `clientId` becomes `client-id`.
I feel it's just convenient for developer to copy/parse regardless they have knowledge of sprint boot or not.
Basically I was thinking I can start the App from cli by using variable from
- either cli as mvn parameter
- or `application.yml`

My 2cen

[2020-08-19 20:12] bdemers commented on #64
Ahh, I think part of the problem is you missed the `cd okta-hosted-login` in the same code block
This repo contains multiple examples in it (to match the other "samples" repos)

[2020-08-19 20:54] haishengwu-okta commented on #64
oh... 🤦 🤦  I'm idiot!

[2020-08-19 21:03] haishengwu-okta commented on #64
Thanks @bdemers for helping my mistake! I'll close the ticket and leave the `application.yml` whether you like to add sample config.

[2020-08-19 21:03] #64 closed

[2020-08-20 18:05] bdemers commented on #64
@haishengwu-okta no, I think it's a valid point. I'm not a big fan of the multiple examples in one repo, it makes it harder to grab just that one example.

I do like the consistency between projects, but I think we could try to call this out more.

[2020-09-08 22:48] Rajshah1897 commented on #48
Still getting 401 error after adding this. Please help to resolve it.

okta:
  oauth2:
    issuer: https://dev-....okta.com/oauth2/default

[2020-09-08 23:22] bdemers commented on #48
@Rajshah1897 can you open a new issue and provide details on the problem you are seeing?  version, stacktrace, and detailed explanation?

Thanks!

[2020-09-08 23:43] Rajshah1897 opened #66 "401 unauthorized error"
Trying to run this class (ResourceServerExampleApplication.java) from https://github.com/okta/samples-java-spring/tree/master/resource-server still getting 401 error on spring boot.

No error on eclipse. Please help me resolve it.

Already added as below in the application.yml.

okta:
  oauth2:
    issuer: https://------.okta.com/oauth2/default

[2020-09-08 23:51] arvindkrishnakumar-okta commented on #66
@Rajshah1897 Thanks for your question.

I assume your resource server (backend) has started successfully. Are you saying you're getting a 401 on hitting http://localhost:8080?

Can you double check if you're following the steps at https://github.com/okta/samples-java-spring/tree/master/resource-server#running-this-example?

[2020-09-09 00:04] #57 closed

[2020-09-09 00:18] #56 closed

[2020-09-09 00:19] arvindkrishnakumar-okta commented on #56
@focuscoder Please feel free to reopen with details, if needed.

[2020-09-09 01:14] Rajshah1897 commented on #66
@arvindkrishnakumar-okta still not working getting this error on front end side also the backend side same error 401.

Front-end
 ERROR] Failed to execute goal org.springframework.boot:spring-boot-maven-plugin:2.2.5.RELEASE:run (default-cli) on project okta-spring-boot-oauth-resource-server: An exception occurred while running. null: InvocationTargetException: Error creating bean with name 'resour

[2020-09-09 01:31] Rajshah1897 commented on #66
Also
1) if I am running your application.yml I am getting this error on my eclipse console.
application.yml
server:
  port: 8000

spring:
  jackson:
    serialization:
      write-dates-as-timestamps: false

***************************
APPLICATION FAILED TO START
***************************

Description:

Method springSecurityFilterChain in org.springframework.security.config.annotation.web.config

[2020-09-09 03:01] arvindkrishnakumar-okta commented on #66
@Rajshah1897 The error suggests that you are supplying `issuer-uri` property while starting the **front-end** and **back-end**.

You should start the front-end like:

`mvn -Dokta.oauth2.issuer=https://xxxxx.okta.com/oauth2/default -Dokta.oauth2.client-id=<<yourClientID>>`

and the back-end like:

`mvn -Dokta.oauth2.issuer=https://xxxxx.okta.com/oauth2/default -Dokta.oauth2.clientId=<<yourClientID>

[2020-09-09 04:18] Rajshah1897 commented on #66
Ok both server are running fine but getting 404 error with those path /api/messages and /api/userProfile

Now what is the nextstep to resolve it?

 http://localhost:8080 status 200 OK

http://localhost:8080/api/messages
{
    "timestamp": "2020-09-09T04:12:49.764+0000",
    "status": 404,
    "error": "Not Found",
    "message": "No message available",
    "path": "/api/messages"
}

http://localho

[2020-09-09 05:10] arvindkrishnakumar-okta commented on #66
Try hitting `http://localhost:8080` from browser.

[2020-09-09 12:09] Rajshah1897 commented on #66
When I am hitting this URL in the browser it is getting me error "White Label URL".

[2020-09-09 14:14] arvindkrishnakumar-okta commented on #66
You mentioned "http://localhost:8080 status 200 OK" earlier. If that's the case, your try from the browser should not result in "Whilte Label URL" error now.

[2020-09-09 15:12] Rajshah1897 commented on #66
But that screen is not coming on my end. I have a white blank screen. do I need to change anything in the code? did you try in spring boot? or is there Okta security issue?

How did you create client id and secret key? web or machine to machine?

[2020-09-09 18:09] arvindkrishnakumar-okta commented on #66
@Rajshah1897 the samples work right out of the box if you follow the instructions in README.

The client-id, secret are autiomatically generated when you create an Application from the Okta developer console (See [here](https://github.com/okta/samples-java-spring/tree/master/resource-server#prerequisites) for instructions).

[2020-09-09 18:31] Rajshah1897 commented on #66
I did it that way but still not working. same issue.

[2020-09-09 19:11] bdemers commented on #66
@Rajshah1897 Can you open the developer console in your browser and let us know if you see any errors

[2020-09-09 20:26] Rajshah1897 commented on #66
@bdemers In the developer I can login succssful. are you talking about this right? https://dev-361462.okta.com/login/login.htm

[2020-09-09 20:36] bdemers commented on #66
Not exactly, you said you see a blank page. I'm guessing there is some sort of error (network or console) that will show up in the developer tools in your browser.

[2020-09-09 20:57] Rajshah1897 commented on #66
@bdemers  I can see white page on my local. I don't know which developer tools are you talking about? can you please clarify?

[2020-09-09 21:55] bdemers commented on #66
Re, the white page.

I'm not 100% sure which white page you are talking about.  I was assuming it was a white page in your browser?  If so you could use the [developer tools for your browser](https://www.lifewire.com/web-browser-developer-tools-3988965).

However, focusing on getting the resource server running might be the easiest path forward.
It sounds like there is a configuration error.  Can

[2020-09-09 22:41] Rajshah1897 commented on #66
Ok I am able to run this http://localhost:8080/ on my browser but when I am trying to login under Okta username and password it is spinning and no output also backend file 401 error.

**Frontend application.yml like that**

  okta.oauth2.issuer: https://dev-12345.okta.com/oauth2/default
  okta.oauth2.clientId: <<>>

**Resource server application.yml like that**

server:
  port: 8000
okta:
  oauth2

[2020-09-10 14:27] bdemers commented on #66
I'm not sure I'm following.  Is your backend (the resource server) able to start now?  If so what was the problem?

[2020-09-10 14:35] Rajshah1897 commented on #66
@bdemers Both servers are up when I am adding those application.yml files but now the problem is I can not sign in in the Okta account through http://localhost:8080/. it is keep spinning  signing page and no output, no errors nothing to see.

So now what is the next step to sign in through my local?

[2020-09-11 01:46] Rajshah1897 commented on #66
@bdemers @arvindkrishnakumar-okta  please help me to resolve this.

[2020-09-11 04:21] bdemers commented on #66
@Rajshah1897, It sounds like you were able to make some progress, but we don't have a lot of details to go on.  Stack Overflow has a great explanation on [how to ask for help](https://stackoverflow.com/help/how-to-ask)

At what point does your page go blank? After you fill in a username/password? Which browser are you using?  Have you tried to look at the browsers developer tools to see if there a

[2020-09-11 05:55] Rajshah1897 commented on #66
@bdemers @arvindkrishnakumar-okta   Yes you are right I had some progress but not fully worked. I am using Google chrome and safari and I was tried in both but it was spinning. I don't think so it was network issue because other websites are working fine for me. I doubted something missing in application.yml files. can you please give me the format of application.yml files for both frontend and re

[2020-09-11 15:08] arvindkrishnakumar-okta commented on #66
@Rajshah1897 Can you share the mvn command that you use to start the backend resource server?

[2020-09-11 15:18] bdemers commented on #66
@Rajshah1897 The configuration you have looks correct, but there are many things at play here. In order to help you out, we will need more details.  You could have some sort of restrictive firewall or browser pluign, you could have miss typed a configuration, something could be cached in your browser.  It's possible you have another service running on the port.

The information from your browsers

[2020-09-11 15:33] Rajshah1897 commented on #66
@arvindkrishnakumar-okta  I am not running any command in the terminal. I am running spring boot server in my eclipse.

@bdemers Let me check again and update you.

[2020-09-11 15:43] Rajshah1897 commented on #66
@bdemers  Getting this error in the console

Sent request
authorize:42 error.errorCode: invalid_request, error.description: The 'redirect_uri' parameter must be an absolute URI that is whitelisted in the client app settings.
onWindowLoadHandler @ authorize:42
(index):191 r {name: "OAUTH_ERROR", message: "The 'redirect_uri' parameter must be an absolute URI that is whitelisted in the client app set

[2020-09-11 15:59] bdemers commented on #66
In your Okta admin console, go to the OAuth application you created for the front end application, and make sure the Redirect URI matches your login page (likely `https://localhost:8080/`).  Restart the front end and try it again.

Let us know if this helps!!

[2020-09-11 16:09] Rajshah1897 commented on #66
@bdemers  Ok I changed it but still getting the error as below but this time is the different error.

DevTools failed to load SourceMap: Could not load content for https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.1.0/css/okta-sign-in.css.map: HTTP error: status code 404, net::ERR_HTTP_RESPONSE_CODE_FAILURE
DevTools failed to load SourceMap: Could not load content for https://ok1sta

[2020-09-11 17:04] bdemers commented on #66
Those could be your browser trying to get the maps to try to facilitate debugging.

Are you able to log in now? What do you see in your browser? what behavior has changed?

[2020-09-11 17:09] Rajshah1897 commented on #66
No still spinning and no output or response on browser.

[2020-09-11 18:16] arvindkrishnakumar-okta commented on #66
If you're on Firefox, can you right click on the page and select 'Inspect Element` and open up the `Network` tab and show us what you're seeing after you hit `Login`? Sample below:

<img width="1637" alt="image" src="https://user-images.githubusercontent.com/61501885/92959013-0815d200-f420-11ea-9fe0-0026cb17d1f1.png">

[2020-09-11 18:29] Rajshah1897 commented on #66
@arvindkrishnakumar-okta Do I need to run both? front end and resource at the same time?

[2020-09-11 18:39] Rajshah1897 commented on #66
I can see like that as below.

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/31449505/92961057-3dc4b600-f434-11ea-80b4-19effde4d8d9.png">

[2020-09-11 18:42] arvindkrishnakumar-okta commented on #66
yes, the front-end needs the back end resource server to run.

[2020-09-11 18:44] Rajshah1897 commented on #66
@arvindkrishnakumar-okta Ok. See that above screenshot.

[2020-09-11 19:16] bdemers commented on #66
When you click on that last request what do you see?

[2020-09-11 19:20] Rajshah1897 commented on #66
@bdemers  On last request It was spinning and there was no response on the browser as per above screenshot.

[2020-09-11 21:59] Rajshah1897 commented on #66
@bdemers @arvindkrishnakumar-okta Can you please update?

[2020-09-11 22:07] bdemers commented on #66
@Rajshah1897, in your developer console, when you click on the bottom request, what does it say?  It should show you what information was sent to the server.  It looks like that was hanging, so that is the point I would suggest digging in further.

[2020-09-11 22:26] Rajshah1897 commented on #66
The bottom request file 1599849527 is 404.
<img width="1241" alt="image" src="https://user-images.githubusercontent.com/31449505/92977683-437dc400-f453-11ea-95ad-a5a10b1b1925.png">

<img width="1745" alt="image" src="https://user-images.githubusercontent.com/31449505/92977722-6019fc00-f453-11ea-8ac4-38741dc0872f.png">

**Here is the front side application.yml**

<img width="507" alt="image" src="h

[2020-09-11 23:27] bdemers commented on #66
The front end yaml file mixes property file formatting with yaml formatting, but Spring should handle that OK.

Does the browser console show anything?

[2020-09-11 23:30] Rajshah1897 commented on #66
No it was 404 error in the last screenshot.

[2020-09-11 23:33] bdemers commented on #66
I’m not sure I’m following you.

One screen shot shows it hanging, another shows a 404?

[2020-09-11 23:35] Rajshah1897 commented on #66
Yes it is hanging and when I clicked there it is opened 404 page in the browser.

[2020-09-11 23:35] bdemers commented on #66
No secret is needed for this flow, you cannot use a secret with a browser, and your resource server is going to validate the JWT.

[2020-09-11 23:37] Rajshah1897 commented on #66
Ok so how to resolve it because now I am guessing something wrong with the coding can you please run in your local and let me know what can you find? Share me the screenshots

[2020-09-12 00:04] bdemers commented on #66
I just ran the example, it works as expected.
However, I think I know what happened.  This "front end" example uses the implicit flow, which is no longer the default option in the Okta Developer console.  (this is a good thing, we recommend people use an Authorization Code Flow with PKCE instead).

Part of the reason why I was asking for your Browser's Developer Tools output, is JavaScript errors

[2020-09-12 00:13] Rajshah1897 commented on #66
Ok so after enable it should work? Did you check?

[2020-09-12 01:13] bdemers commented on #66
Yes, I checked. The example works as expected

[2020-09-12 02:24] Rajshah1897 commented on #66
Still not working after pulled new file. I logged in but there is logout button I can see only this screen after login. Please see below screenshots for your reference.

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/31449505/92985019-7b493380-f474-11ea-9f04-22510c431407.png">

what should be the login uri on this screen?

<img width="730" alt="image" src="https://use

[2020-09-12 14:39] bdemers commented on #66
Change those other two urls to be the same as the redirect URL.

Please include your Brower’s Developer Tools Console output as we

[2020-09-12 19:27] Rajshah1897 commented on #66
@bdemers  so login redirect url, logout redirect url and initiate login uri should be same?

[2020-09-12 19:32] Rajshah1897 commented on #66
@bdemers It is the same error. please run in your local and share me the screenshots.

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/31449505/93003487-c27f0500-f504-11ea-8415-be8ce2ffc18e.png">

<img width="750" alt="image" src="https://user-images.githubusercontent.com/31449505/93003496-d62a6b80-f504-11ea-9af5-2a1b6a040efa.png">

[2020-09-14 04:55] arvindkrishnakumar-okta commented on #66
@Rajshah1897 Here are my Application settings and I just verified it works.

<img width="511" alt="image" src="https://user-images.githubusercontent.com/61501885/93044969-e3318280-f60a-11ea-9275-8d8fd384b884.png">

<img width="790" alt="Picture1" src="https://user-images.githubusercontent.com/61501885/93045328-bcc01700-f60b-11ea-81a5-994184ff3a9b.png">

[2020-09-14 05:17] Rajshah1897 commented on #66
@arvindkrishnakumar-okta  I used the same SPA but there is no user consent in my account how to add this? Please see the screenshot also I am having same problem on my browser.(attached browser screenshot) which source codes did you clone it? please send the latest GitHub link.

<img width="760" alt="image" src="https://user-images.githubusercontent.com/31449505/93046408-5513c700-f61f-11ea-9bcd-fb

[2020-09-14 13:40] bdemers commented on #66
It looks like your front end application is now configured correctly.
The 401 is not coming from the second application, the Resource Server.

Make sure that the Issuer URL matches the first application.
You can also increase the logging on your resource server application.  Spring Security does NOT log those types of errors. by default (as this would create a lot of log spam).  You can increase t

[2020-09-14 14:35] Rajshah1897 commented on #66
@bdemers  Thanks after added this as below error is coming in the console.

org.springframework.security.oauth2.core.OAuth2AuthenticationException: An error occurred while attempting to decode the Jwt: Invalid token.

<img width="1362" alt="image" src="https://user-images.githubusercontent.com/31449505/93099443-a0ed5d00-f66d-11ea-891e-bc5cb85eeed2.png">

[2020-09-14 16:04] Rajshah1897 commented on #66
@bdemers @arvindkrishnakumar-okta How to resolve this? what that means JWT invalid token? I am not using any token in SPA so why it is showing me like that?

[2020-09-14 16:11] bdemers commented on #66
If you view the details of the 401 in your Browser console, the response headers might give you more information.

For example, clicking on `/api/messages` should show you the request and response headers, along with the response payload.  Spring Security often adds the explanation to the `WWW-Authorization` header.

If that doesn't help, the problem is _usually_ either the `issuer` is set wrong,

[2020-09-14 16:48] Rajshah1897 commented on #66
@bdemers I can see as below in the browser.

<img width="1093" alt="image" src="https://user-images.githubusercontent.com/31449505/93114329-195d1980-f680-11ea-86f0-d45752e267ff.png">

<img width="1285" alt="image" src="https://user-images.githubusercontent.com/31449505/93114390-28dc6280-f680-11ea-9835-0ae7ef220b39.png">

[2020-09-14 17:45] Rajshah1897 commented on #66
@bdemers I don't understand what I need to change in here? Please share me with screenshots.

<img width="1136" alt="image" src="https://user-images.githubusercontent.com/31449505/93119639-cbe4aa80-f687-11ea-8122-f58c1bf2e41c.png">

Also I verified my token Is valid until Oct 02.

<img width="1044" alt="image" src="https://user-images.githubusercontent.com/31449505/93119746-f33b7780-f687-11ea-88d0

[2020-09-14 19:49] Rajshah1897 commented on #66
@vijetmahabaleshwar-okta @bdemers @arvindkrishnakumar-okta  Still not working what I am missing here? please confirm.

<img width="1073" alt="image" src="https://user-images.githubusercontent.com/31449505/93131191-4ec23100-f699-11ea-84c6-1959fbd98c31.png">

I think something missing on backend file. we need to update codes in backend side?

[2020-09-14 20:58] vijetmahabaleshwar-okta commented on #66
@Rajshah1897 -
Can we take a step back and run the samples as indicated in the README? You might have already tried it, but I think it's a worth a shot to get this working from command line first.
Here's what I did to get this working -

1. Create a Single-Page App in my org with the following settings -
<img width="578" alt="Screen Shot 2020-09-14 at 1 47 15 PM" src="https://user-images.githubuse

[2020-09-14 21:34] Rajshah1897 commented on #66
@vijetmahabaleshwar-okta Thats was I asked before the user constant screen not coming on my SPA settings. Please see the screenshot.

<img width="804" alt="image" src="https://user-images.githubusercontent.com/31449505/93138503-b6ca4480-f6a4-11ea-8ebb-0d3349bd65f0.png">

Also only logout button on my screen I can see that after run above commands in the terminal.

<img width="1792" alt="image" src

[2020-09-14 21:38] Rajshah1897 commented on #66
@bdemers Open that issue why it was closed? it did not fix yet.

[2020-09-14 21:44] Rajshah1897 opened #69 "Unable to validate sample API's for front end and resource server on my machine"
@bdemers @arvindkrishnakumar-okta @vijetmahabaleshwar-okta  Continue from https://github.com/okta/samples-java-spring/issues/66

@vijetmahabaleshwar-okta Thats was I asked before the user constant screen not coming on my SPA settings. Please see the screenshot.

image

Also only logout button on my screen I can see that after run above commands (https://github.com/okta/samples-java-spring/issues/6

[2020-09-14 21:44] bdemers commented on #66
@Rajshah1897 GitHub automatically closes issues when that are linked to pull requests.  Don't worry about it, we can keep the thread going :D

[2020-09-14 21:45] bdemers commented on #69
Duplicate of #66

[2020-09-14 21:45] #69 closed

[2020-09-14 21:46] vijetmahabaleshwar-okta commented on #66
@Rajshah1897 - You don't need anything in the last 2 screens. The API token is not related to this flow. It's for calling Okta APIs.
The default authorization server settings also don't need to be changed.
I tried this flow again on a freshly created app, and a new org, and it works without any issues for me.

- Are you using the latest `master` branch? If not, can you try `git pull` on your repo

[2020-09-14 22:10] Rajshah1897 commented on #66
@vijetmahabaleshwar-okta  I have downloaded codes from latest master branch and still the same issue.

How can I try incognito window in chrome?

[2020-09-14 22:13] vijetmahabaleshwar-okta commented on #66
@Rajshah1897
- Open chrome browser.
- Go to File -> new Incognito Window
This should open a new browser window. Type http://localhost:8080 in the URL bar of this window and sign-in page should load.

Refer https://support.google.com/chrome/answer/95464?co=GENIE.Platform%3DDesktop&hl=en&oco=0 for incognito window details

[2020-09-14 22:16] arvindkrishnakumar-okta commented on #66
@Rajshah1897 Try clicking on the `Logout` button shown in your page and try to `Login` again? Just a try, ideally incognito window should start things afresh.

[2020-09-14 22:17] Rajshah1897 commented on #66
Oh that one I did it I opened in new window.

Please check this error attached here. may be now we can fix it.
[at org.springframework.security.web.context.SecurityContextPersistenceFilter.doFilter(SecurityContextPersistenceFilter.java105) [spring-security-web-5.2.2.RELEASE.jar5.2.2.RELEASE].pdf](https://github.com/okta/samples-java-spring/files/5221365/at.org.springframework.security.web.context.

[2020-09-14 23:37] Rajshah1897 commented on #66
@arvindkrishnakumar-okta  that one I was tried already but it is still same error. Please take a look that error console and let me know how to fix it?

[2020-09-15 15:15] bdemers commented on #66
@Rajshah1897 Your front end example app looks to be configured correctly.  Where you able to look at the network trace in your Browser's developer tools?  This should show the HTTP headers that were sent to your backend, and the response code.
Navigating to the `/api/messages` URL directly will NOT yield the same results as that request would not have the access token retrieved from your frontend

[2020-09-15 15:26] Rajshah1897 commented on #66
@bdemers  Sorry but what I need to more learn the browser developer tools? the error is something with jquery in the api/messages and api/userprofile. I can not understand. What is the solution for that?  Also is that security issue from Okta in my local? something I need to change host file or certs file to resolve this error?

Can you please take a look into your machine for those two files? bec

[2020-09-15 17:18] Rajshah1897 commented on #66
@bdemers @vijetmahabaleshwar-okta @arvindkrishnakumar-okta  Please update me something how can I resolve this in spring boot?

Or can someone one connect me today to check?

[2020-09-15 18:26] arvindkrishnakumar-okta commented on #66
@Rajshah1897 For debugging purposes, can you do a curl GET on the `/authorize` endpoint from a separate terminal window (something like below):

`curl -I "https://dev-xxxxx.okta.com/oauth2/default/v1/authorize?client_id=xxxxx&response_type=code&scope=openid&redirect_uri=http%3A%2F%2Flocalhost%3A8080&state=somerandomvalue&nonce=somerandomvalue"`

Can you paste the output here?

[2020-09-15 20:24] Rajshah1897 commented on #66
@arvindkrishnakumar-okta Here it is.

{
    "issuer": "https://dev-361462.okta.com/oauth2/default",
    "authorization_endpoint": "https://dev-361462.okta.com/oauth2/default/v1/authorize",
    "token_endpoint": "https://dev-361462.okta.com/oauth2/default/v1/token",
    "registration_endpoint": "https://dev-361462.okta.com/oauth2/v1/clients",
    "jwks_uri": "https://dev-361462.okta.com/oauth2/defa

[2020-09-15 20:38] Rajshah1897 commented on #66
@arvindkrishnakumar-okta  How run this one? just put my authorize URL and client_id?

curl -Iv "https://dev-xxxxx.okta.com/oauth2/default/v1/authorize?client_id=xxxxx&response_type=code&scope=openid&redirect_uri=http%3A%2F%2Flocalhost%3A8080&state=somerandomvalue&nonce=somerandomvalue"

[2020-09-15 20:45] arvindkrishnakumar-okta commented on #66
Copy the entire stuff and replace `xxxxx` with your client id value.

[2020-09-15 21:14] Rajshah1897 commented on #66
@arvindkrishnakumar-okta

here is the output

Last login: Tue Sep 15 00:41:07 on ttys000
shahr@US3RAPM0CD1EYMD ~ % /Library/Java/Home.
zsh: no such file or directory: /Library/Java/Home.
shahr@US3RAPM0CD1EYMD ~ % echo $JAVA_HOME

shahr@US3RAPM0CD1EYMD ~ % echo $JAVA_HOME

shahr@US3RAPM0CD1EYMD ~ % java -version
java version "1.8.0_251"
Java(TM) SE Runtime Environment (build 1.8.0_251-b08)
Java Hot

[2020-09-15 21:34] Rajshah1897 commented on #66
@arvindkrishnakumar-okta  Ignore the previous one. it was confused. Here is the latest one as below.

Last login: Tue Sep 15 00:57:43 on ttys000
shahr@US3RAPM0CD1EYMD ~ % curl -Iv "https://dev-361462.okta.com/oauth2/default/v1/authorize client_id=0oawwcug3oKESO5Wt4x6&response_type=code&scope=openid&redirect_uri=http%3A%2F%2Flocalhost%3A8080&state=somerandomvalue&nonce=somerandomvalue"
*   Trying 3

[2020-09-15 22:16] Rajshah1897 commented on #66
@arvindkrishnakumar-okta @bdemers @vijetmahabaleshwar-okta  Please check above command output and let me know the next step so I can try to resolve it today.

[2020-09-15 22:19] arvindkrishnakumar-okta commented on #66
@Rajshah1897 you missed a `?` character in the above URL after `/v1/authorize`.

It should be:

`curl -Iv "https://dev-361462.okta.com/oauth2/default/v1/authorize?client_id=0oawwcug3oKESO5Wt4x6&response_type=code&scope=openid&redirect_uri=http%3A%2F%2Flocalhost%3A8080&state=somerandomvalue&nonce=somerandomvalue"`

[2020-09-15 22:30] arvindkrishnakumar-okta commented on #66
@Rajshah1897 Does the below command return `200 OK` when run from your terminal?

`curl -Iv "https://dev-361462.okta.com/oauth2/default/v1/authorize?client_id=0oawwcug3oKESO5Wt4x6&response_type=id_token%20token&response_mode=okta_post_message&prompt=none&scope=openid&redirect_uri=http%3A%2F%2Flocalhost%3A8080&state=somerandomvalue&nonce=somerandomvalue"`

[2020-09-15 22:41] Rajshah1897 commented on #66
@arvindkrishnakumar-okta  In the terminal it is showing me 200 ok but when I am running in the browser GET response is 401 (see the screenshot as below). How to resolve in the browser?

Last login: Tue Sep 15 16:33:01 on ttys000
shahr@US3RAPM0CD1EYMD ~ % curl -Iv "https://dev-361462.okta.com/oauth2/default/v1/authorize?client_id=0oawwcug3oKESO5Wt4x6&response_type=id_token%20token&response_mode=okt

[2020-09-15 22:45] arvindkrishnakumar-okta commented on #66
@Rajshah1897 Can you create a test user and send the credentials to arvind.krishnakumar at okta dot com? I can take a look. This does not look like an issue with the SDK but a setup issue at your end. Therefore, let us end the thread discussion here.
Once you send the test credentials, I can take a look over email. Once resolved, you can delete your test user.

[2020-09-15 23:10] Rajshah1897 commented on #66
@arvindkrishnakumar-okta  How to to do that just add your name in here?

<img width="787" alt="image" src="https://user-images.githubusercontent.com/31449505/93273969-c322d000-f77e-11ea-8566-da2e27f29b2a.png">

[2020-09-15 23:17] arvindkrishnakumar-okta commented on #66
@Rajshah1897 yes, please create a new user for my name and assign it to the application (Go to Applications -> Assignments -> Assign to People and you should see my username listed there, click on that and assign).

[2020-09-15 23:22] Rajshah1897 commented on #66
@arvindkrishnakumar-okta  Done it is pending for your activation. check your email please.

[2020-09-15 23:56] arvindkrishnakumar-okta commented on #66
@Rajshah1897 I completed activation and I was able to successfully run the sample against your server.

Here is how I started the front-end:

`mvn -Dokta.oauth2.issuer=https://dev-361462.okta.com/oauth2/default -Dokta.oauth2.client-id=0oawwcug3oKESO5Wt4x6`

Here is how I started the back-end (in a different terminal):

`mvn  -Dokta.oauth2.issuer=https://dev-361462.okta.com/oauth2/default -Dokta.oa

[2020-09-16 00:03] Rajshah1897 commented on #66
@arvindkrishnakumar-okta  ok that's good. So how can I resolve the browser issue on my end? Because still I am getting GET 401 response on my browser. What is the solution for that one?

[2020-09-16 00:08] arvindkrishnakumar-okta commented on #66
@Rajshah1897 Are you using any proxy settings in your browser?

[2020-09-16 00:15] arvindkrishnakumar-okta commented on #66
@Rajshah1897 Is your browser using any proxy settings? I'd highly recommend a reading of the browser network level debugging options at https://developer.mozilla.org/en-US/docs/Tools/Network_Monitor/request_details to get more debugging insights.

[2020-09-16 01:03] Rajshah1897 commented on #66
@arvindkrishnakumar-okta No proxy settings on my browser? which one I need to select? Please check as below.

<img width="679" alt="image" src="https://user-images.githubusercontent.com/31449505/93280101-6e875100-f78e-11ea-9cfa-2f4d78994ca4.png">

[2020-09-16 04:47] Rajshah1897 commented on #66
@bdemers @arvindkrishnakumar-okta  Also found as below name":"WWW-Authenticate" (Highlighted in bold)

How to resolve this? which token they are asking?

{
   "Response headers (630 B)":{
      "headers":[
         {
            "name":"Access-Control-Allow-Origin",
            "value":"http://localhost:8080"
         },
         {
            "name":"Cache-Control",
            "value":"no-cache,

[2020-09-16 14:48] Rajshah1897 commented on #66
@bdemers @arvindkrishnakumar-okta  I was checking everything yesterday but I don't know how to fix that one in the browser level. Is there some security issue? can you please check your host file or HTTP server settings? what I need to do in settings? Because I am sure something wrong on my machine.

[2020-09-16 19:58] arvindkrishnakumar-okta commented on #66
@Rajshah1897 : Based on the discussion we've had in this thread hitherto, it definitely sounds like there is a local environment setup issue at your end which could be browser or proxy related. Like I mentioned earlier, there is no intrinsic issue with this project's code samples.

I would recommend posting your issue on the Okta Developer Forum (https://devforum.okta.com) instead for a wider reac

[2020-09-16 21:07] Rajshah1897 commented on #66
@arvindkrishnakumar-okta  Thanks . New thing I noticed today when I run this same program in my personal computer it is working fine but not working on my work laptop. Do you have any idea how to resolve this?

[2020-09-16 21:28] bdemers commented on #66
@Rajshah1897 glad to hear you have everything working.

For your work laptop it could be almost anything, we would need more details.

Are you behind a proxy, a VPN, do you have a firewall, a virus scanner?  Your browser console and network traffic tabs should contain a lot of information to help.  Also, what do you see in your browser?  Are you able to see the login prompt?

This SO post has a gr

[2020-09-16 22:51] Rajshah1897 commented on #66
@arvindkrishnakumar-okta yes I have a company antivirus.
I checked vpn is doesn't matter for this because it is the same issue
In the browser I can see login page but after login I can see logout button that we discussed before no hello world and I am robot messages.

[2020-09-17 23:54] Rajshah1897 commented on #66
@bdemers @arvindkrishnakumar-okta  I need to validate sample API using machine to machine application. Does anyone know how to do in okta and which language we can use for that one? Also something we need to generate the token for that?

[2020-09-18 00:03] vijetmahabaleshwar-okta commented on #66
@Rajshah1897 - This thread is not the right channel to discuss issues not pertaining to the java spring sample.
If you're looking for suggestions, please ask the question on devforum.okta.com to a larger audience.
Anyway, in case you need to implement machine-machine authorization, you should use the client credentials flow - https://developer.okta.com/docs/concepts/oauth-openid/#client-credential

[2020-09-18 00:53] Rajshah1897 commented on #66
@vijetmahabaleshwar-okta Thanks. Do we have a sample code to work like that? Or some video tutorial for that?. Please suggest

[2020-09-18 01:02] bdemers commented on #66
@Rajshah1897 here is an in depth example on a few different ways to use tokens: https://developer.okta.com/blog/2020/08/14/spring-gateway-patterns (however as @vijetmahabaleshwar-okta mentioned, lets move that discussion to the developer forums) and keep this thread focused on the problem you are seeing.

In my last post i mentioned needing more information to help debug the problem, were you able

[2020-09-18 01:12] Rajshah1897 commented on #66
@bdemers Thanks Brian. No I couldn't find the browser issue only thing i found that jQuery doesn't support on my browser  and I got 401 unauthorized error on my browser so something we need to update or add in our backend code resource-server to visable the /api/ messages and /api/ profile or something need add in my application.yml file in my spring boot. Please let me know what is the best way t

[2020-09-18 03:08] bdemers commented on #66
We still need more information from you. What browser are you using? Is JavaScript disabled in your browser? If not, what is blocking it?

[2020-09-18 15:20] Rajshah1897 commented on #66
@bdemers  I am using google chrome and javascript is enable on my browser. Here is the screenshot. Let me know what kind of more information you need more.

<img width="1410" alt="image" src="https://user-images.githubusercontent.com/31449505/93614934-64d13980-f998-11ea-9ea8-d1cbdf930bfa.png">

[2020-09-18 16:14] bdemers commented on #66
Cool, you should be able to view an error in the browsers network tab

[2020-09-18 18:39] Rajshah1897 commented on #66
@bdemers @arvindkrishnakumar-okta  Finally works after created new application with new client id.

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/31449505/93633256-49742780-f9b4-11ea-8fae-fe50a0eec190.png">

Please check and confirm.

[2020-09-18 18:43] arvindkrishnakumar-okta commented on #66
@Rajshah1897 excellent, it looks good! Did you figure out what was wrong with the old client application and what is different in the new application you created?

[2020-09-18 18:49] Rajshah1897 commented on #66
@arvindkrishnakumar-okta No I just tried with new application with new client id and changed client id in my application.yml and also I changed tool spring suit tool 4 instead of eclipse and it works.

Thanks to Everyone.

[2020-09-18 19:50] #66 closed

[2020-10-14 17:04] #63 closed

[2020-10-14 18:16] arvindkrishnakumar-okta opened #73 "Update samples to use okta-spring-boot v2.0.0"
Once okta-spring-boot v2.0.0 is released, update the samples-java-spring project to use that.

[2020-10-21 20:12] LeslieMurphy opened #77 "Resource Server (Java) fails with missing bean org.springframework.security.oauth2.jwt.JwtDecoder"
if

[code]

is not defined in application.yml (or via mvn -Dokta.oauth2.issuer=https://{yourOktaDomain}/oauth2/default)

a cryptic error message is generated.   Can you enhance to produce a better message?

This is the error that is generated:

Method springSecurityFilterChain in org.springframework.security.config.annotation.web.configuration.WebSecurityConfiguration required a bean of type 'org.

[2020-10-21 23:14] bdemers commented on #77
Thanks @LeslieMurphy which version are you using?

Do you have a WebSecurityConfigurationAdapter? if so what does it look like?

[2020-10-22 00:25] LeslieMurphy commented on #77
I believe I have the latest version from GitHub.

WebSecurityConfigurationAdapter comes from inside spring boot autoconfigure – 2.3.4

The error is triggered by OktaOAuth2ResourceServerAutoConfig

I was able to fix the issue as soon as I added this to my application.yml

okta:
  oauth2:
    issuer: https://dev-9267515.okta.com/oauth2/default

How do I tell which WebSecurityConfigurationAdapter I a

[2020-10-22 20:03] bdemers commented on #77
That's helpful!  If you don't have a `WebSecurityConfigurationAdapter` then the default one provided by Spring Sec is used.
You don't need to worry about it, I just wanted to make sure I was testing the same case.

We are working on another release, I'll try to reproduce that and see if we can make the error better (or probably just not fail)
i.e. in this case you don't have any security configure

[2020-10-22 22:05] LeslieMurphy commented on #77
Sounds good.  Throwing an exception is fine – just hopefully a better message!

Thanks!

From: Brian Demers <notifications@github.com>
Sent: Thursday, October 22, 2020 2:04 PM
To: okta/samples-java-spring <samples-java-spring@noreply.github.com>
Cc: LeslieMurphy <les.murphy@eperformancegroup.com>; Mention <mention@noreply.github.com>
Subject: Re: [okta/samples-java-spring] Resource Server (Java) f

[2020-10-23 21:37] arvindkrishnakumar-okta commented on #77
@LeslieMurphy Thanks for raising this.

I have created an internal issue to address this (OKTA-339695).

[2020-12-29 00:56] arvindkrishnakumar-okta commented on #77
Fixed.

[2020-12-29 00:56] #77 closed

[2020-12-29 11:48] sergiishamrai-okta commented on #73
PR https://github.com/okta/samples-java-spring/pull/78

[2020-12-29 17:11] #73 closed

[2021-02-03 09:20] peterkempy commented on #48
I agree with the suggestion above.
The alternative is to specify the issuer on the command-line:
`mvn -Dokta.oauth2.issuer=https://{yourOktaDomain}/oauth2/default`

[2021-02-16 13:12] smworld30 opened #88 "Facing issue on springboot okta in weblogic server"
For spring-boot 2.4.2  with okta-spring-boot-starter 2.0.0 ,not able to deploy the application in weblogic where as tomcat/jboss deployment is fine.
In weblogic facing below issue. Request help on this

[code]

[2021-02-16 13:20] sergiishamrai-okta commented on #88
Thanks for reporting this issue. We'll review this internally and provide you an update when we have more info to share.

[2021-02-16 13:28] sergiishamrai-okta commented on #88
Internal ref: [OKTA-370269](https://oktainc.atlassian.net/browse/OKTA-370269)

[2021-02-16 15:46] bdemers commented on #88
Hi @smworld30 !

Any chance this is also you? https://stackoverflow.com/questions/66074572/springboot-with-okta-application-deployed-in-weblogic-server

How are you deploying your application? WAR, EAR? Can you create a minimal reproduction case?

[2021-02-16 16:15] smworld30 commented on #88
Hello,
Yes This is me who raised the question in stack overflow. But not
getting any reply from anyone.

I have made a basic Springboot project  through Spring initializer.
The configuration is Java 8 maven project with spring boot 2.4.2 with
packaging *war*. Taking the dependency as Spring web and okta.
After that I add my okta configuration in application.properties file as
below

okta.oauth2.is

[2021-02-16 16:37] bdemers commented on #88
Thanks! that's helpful!

[2021-02-18 07:05] smworld30 commented on #88
Hello,

I am curious to know if you have got the chance to look into this or if you
have any update?

Thanks and Regards

On Tue, Feb 16, 2021 at 10:08 PM Brian Demers <notifications@github.com>
wrote:

[2021-02-18 07:40] sergiishamrai-okta commented on #88
Thanks for your report. We've put it on our roadmap.  Follow this issue for updates.

[2021-02-18 16:34] arvindkrishnakumar-okta commented on #88
@smworld30 Can you double-check or reference your deployment steps with https://o7planning.org/11901/deploy-spring-boot-application-on-oracle-weblogic-server#a20474023 to ensure nothing is missed?

[2021-02-19 11:18] smworld30 commented on #88
Hello,
Yes its same with the steps mentioned in the link
1.My application is war
2.In pom below is added
<dependency>
    <groupId>org.springframework.boot</groupId>
    <artifactId>spring-boot-starter-tomcat</artifactId>
    <scope>provided</scope>
</dependency>

3.I dont have more than one application class in my project. Hence I didn't add  <start-class> tag in pom
4.The dispatcherServlet-servl

[2021-02-19 16:14] arvindkrishnakumar-okta commented on #88
@smworld30 Thanks for the details. I'll try to reproduce the issue.

[2021-02-19 22:07] arvindkrishnakumar-okta commented on #88
@smworld30 I tried this out and was able to successfully deploy the springboot app.

Here are the steps I did (used [this](https://o7planning.org/11901/deploy-spring-boot-application-on-oracle-weblogic-server#a20474023) as reference):

1. Generated a sample project with [Spring Intializr](https://start.spring.io/). See the snapshot below for version/configuration info.

<img width="1480" alt="imag

[2021-02-26 10:57] smworld30 commented on #88
But I am following the same process but facing below issue on weblogic. and deployment getting failed.

Note :I didn't add the weblogic.xml and dispatcher file . But both the cases(f I add also) I am facing same error

  .   ____          _            __ _ _
 /\\ / ___'_ __ _ _(_)_ __  __ _ \ \ \ \
( ( )\___ | '_ | '_| | '_ \/ _` | \ \ \ \
 \\/  ___)| |_)| | | | | || (_| |  ) ) ) )
  '  |____| .__

[2021-02-26 12:11] smworld30 commented on #88
.   ____          _            __ _ _
 /\\ / ___'_ __ _ _(_)_ __  __ _ \ \ \ \
( ( )\___ | '_ | '_| | '_ \/ _` | \ \ \ \
 \\/  ___)| |_)| | | | | || (_| |  ) ) ) )
  '  |____| .__|_| |_|_| |_\__, | / / / /
 =========|_|==============|___/=/_/_/_/
 :: Spring Boot ::                (v2.4.3)

2021-02-26 04:43:00.753  INFO 20609 --- [ (self-tuning)'] com.test.ServletInitializer              : Starting

[2021-02-26 12:11] smworld30 commented on #88
But I am getting the above issue. Is this any with weblogic server or any extra configuration I need to add in the application?

[2021-02-26 17:30] arvindkrishnakumar-okta commented on #88
Based on the log you provided above, it looks like a SSL setup issue with your Weblogic server. Your server is not able to talk to the issuer https://dev-xxxxxx.okta.com/oauth2/default due to SSL handshake exception. You might want to refer for detailed SSL setup guide at https://docs.oracle.com/cd/E23943_01/web.1111/e13707/identity_trust.htm#SECMG379.

Or simply try turning host name verification

[2021-02-27 04:12] smworld30 commented on #88
Ok . I was also searching the issue and i found this on internet. So the following can we do???
Please refer the link. seems like same issue

https://www.javaer101.com/en/article/5361747.html

Thanks

[2021-02-27 16:24] arvindkrishnakumar-okta commented on #88
Yes, like I suggested earlier you need to setup SSL correctly in Weblogic server’s settings. Please refer the weblogic documentation link that I shared earlier.

[2021-03-01 10:48] smworld30 commented on #88
After enabling the SSL in weblogic server I am getting below error

java.lang.IllegalArgumentException: Unable to instantiate org.springframework.boot.env.EnvironmentPostProcessor [com.okta.spring.boot.oauth.env.OktaOAuth2PropertiesMappingEnvironmentPostProcessor]
	at org.springframework.boot.util.Instantiator.instantiate(Instantiator.java:103)
	at org.springframework.boot.util.Instantiator.instan

[2021-03-01 13:43] smworld30 commented on #88
Attached the project which I use to deploy on weblogic. the weblogic you tried is SSL enabled? I am also able to deploy in the basic weblogic server without SSL enabled. But SSL enabled server got the above error

[OktaTest.zip](https://github.com/okta/samples-java-spring/files/6061976/OktaTest.zip)

[2021-03-02 03:01] smworld30 commented on #88
Any news on this please

[2021-03-02 07:09] mraible commented on #88
Are you behind a corporate proxy? If so, can you try tethering to your phone and see if it works when you're not using a proxy?

[2021-03-02 15:16] smworld30 commented on #88
Ya I am inside corporate vpn. The weblogic server where I deployed above zip code can be opened only inside vpn. That weblogic server is SSL enabled and I got the error.

java.lang.IllegalArgumentException: Unable to instantiate org.springframework.boot.env.EnvironmentPostProcessor [com.okta.spring.boot.oauth.env.OktaOAuth2PropertiesMappingEnvironmentPostProcessor]
at org.springframework.boot.util

[2021-03-02 16:11] arvindkrishnakumar-okta commented on #88
1) Does it work when you run it without proxy (outside of corporate VPN)?
2) If the answer to the above is yes, please refer to the instructions [here](https://github.com/okta/okta-spring-boot#proxy) to setup few additional properties.

[2021-03-02 19:01] smworld30 commented on #88
When I download the same version of weblogic(12.2.1.4) in my local machine there the application is deployed successfully.
But the in the corporate weblogic server the application is not getting deployed

[2021-03-02 19:57] smworld30 commented on #88
okta.oauth2.issuer=********************
okta.oauth2.client-id= *************
okta.oauth2.client-secret= ********
okta.oauth2.proxy.host= <<weblogic machine name??>>
okta.oauth2.proxy.port= <<managed server port??>>
[stdout.log](https://github.com/okta/samples-java-spring/files/6071372/stdout.log)

Here the weblogic is there in a linux macine .Hence the machine name need to be given as host??

thes

[2021-03-03 05:17] arvindkrishnakumar-okta commented on #88
You should set the hostname of your corporate network's proxy server in `okta.oauth2.proxy.host` property (and the port number in `okta.oauth2.proxy.host` property). These properties could either be set in application properties or as JVM args (`-Dokta.oauth2.proxy.host=proxy.example.com`).

[2021-03-03 14:54] smworld30 commented on #88
The weblogic server team has put the below properties in JVM args inside the server and tried to deploy the application. But same error is happening

-Dokta.oauth2.proxy.host=drswls1.corp.pep.pvt <<this is  corporate weblogic server machine >>
-Dokta.oauth2.proxy.port=<<port of the this manage server >>

Please suggest  on this

[2021-03-03 15:09] smworld30 commented on #88
The weblogic server team has put the below properties in JVM args inside the server and tried to deploy the application. But same error is happening

-Dokta.oauth2.proxy.host=drswls1.corp.pep.pvt < this is corporate weblogic server machine>
-Dokta.oauth2.proxy.port= Port of this manage server

Please suggest on this

[2021-03-03 15:42] arvindkrishnakumar-okta commented on #88
Can you attach (do not copy paste) the full log with headers (the logs you have attached and pasted earlier is truncated) included? Note that you'll have to enable `DEBUG` logging for Spring security in your application properties and then capture the application startup log.

[2021-03-04 10:16] smworld30 commented on #88
After Adding below application.properties file

logging.level.org.springframework.security=DEBUG
okta.oauth2.issuer= https://*********/oauth2/default
okta.oauth2.client-id= *********
okta.oauth2.client-secret= ***********
we got the  attached error.
Note : The application is not deploying. Its status showing failed
![console error](https://user-images.githubusercontent.com/67364892/109948319-3655d

[2021-03-04 15:41] arvindkrishnakumar-okta commented on #88
Thanks!

Few followup questions:

- Are you using a HTTP or HTTPS Proxy?
- Have you tried running the sample application inside VPN outside of Weblogic server (see instructions [here](https://github.com/okta/samples-java-spring/tree/master/okta-hosted-login#running-this-example))? I am asking this to help isolate the issue to Weblogic server setup.

[2021-03-04 16:14] smworld30 commented on #88
I have tried the same application inside vpn outside of weblogic server. It got deployed successfully. I have tried in  tomcat servers inside vpn. it was successfully connecting with Okta. but  in weblogic the deployment got failed and showing the mentioned error

[2021-03-04 16:54] arvindkrishnakumar-okta commented on #88
This is clearly a Weblogic server setup issue behind your corporate VPN. Unfortunately, I am unable to reproduce this issue in my local environment setup.

I need to know more details on the below:

- Proxy type (http or https)?
- Network tcpdump/wireshark trace to examine the network activity

[2021-03-05 10:20] smworld30 commented on #88
Proxy type : http
We will share tcpdump shortly.
So anything extra configuration needed for weblogic server for deploying  okta applications?
as in that server other applications working fine.

[2021-03-05 11:50] gishu opened #90 "Sample doesn't seem to work as advertised in the Readme"
I followed the instructions as documented here - https://github.com/okta/samples-java-spring/tree/master/front-end

The request to obtain a token fails with a 401 and the following response.
{“error”:“invalid_client”,“error_description”:“Client authentication failed. Either the client or the client credentials are invalid.”}

The instructions do not mention setting the client-secret anywhere.

See

[2021-03-05 13:00] sergiishamrai-okta commented on #90
The front-end sample application works together with [Resourse Server](https://github.com/okta/samples-java-spring/tree/master/resource-server) sample application.

Please, make sure that you using the SPA application. Any other application-type will fail.

[2021-03-05 15:12] arvindkrishnakumar-okta commented on #88
1) Can you also check if you're already following https://docs.spring.io/spring-boot/docs/current/reference/html/howto.html#howto-weblogic ?

2) Also, refer https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#howto-use-behind-a-proxy-server. Try setting `server.forward-headers-strategy` to `NATIVE` (this also depends on what headers your proxy adds).

[2021-03-08 11:27] smworld30 commented on #88
Yes according to the above documentation I have implements WebApplicationInitializer. I have added weblogic.xml also. But I didn't exclude lettuce and include jedis in my code. Is it necessary?

I have also tried including below in application.properties file

server.forward-headers-strategy= NATIVE

But same error.

[2021-03-08 14:14] #90 closed

[2021-03-08 14:16] arvindkrishnakumar-okta commented on #88
Thanks for the details!

Please reach out to customer support at support@okta.com for further assistance on this matter.

[2021-03-09 13:35] VitaliiTytarenko-okta commented on #88
Hello @smworld30
Our team is doing its best to help you and find a solution to your problem.
I noticed that you are using the **2.0.0** version of _okta-spring-boot-starter_. But the `okta.oauth2.proxy.*` properties were introduced in the following version: **2.0.1**. Please update to the [latest](https://mvnrepository.com/artifact/com.okta.spring/okta-spring-boot-starter/2.0.1) version of _okta-s

[2021-03-09 16:00] #88 closed

[2021-05-25 16:22] MSchaffer360 opened #97 "Please update Widget version in Login.html"
mraible of the Okta Team suggested that I request you to update the version number of the Login Widget in login.html to "5.5.2"  .

This appears in the "script" and "link" HTML statements to load resources from the Okta CDN.

Mr. Raible said, "Upgrading the version number in the CDN URLs shouldn’t cause any issues."

Thank you.

[2021-05-25 16:27] arvindkrishnakumar-okta commented on #97
Thanks for posting! We will update it.

[2021-05-25 16:52] #97 closed

[2021-05-25 16:52] arvindkrishnakumar-okta commented on #97
Upgraded widget to 5.6.4

[2021-06-06 04:47] woldie commented on #77
Hey @bdemers, given the way the PR for this issue went down and per the documentation at https://github.com/okta/okta-spring-boot, the application.properties you refer to at

    https://developer.okta.com/blog/2020/03/27/spring-oidc-logout-options

probably needs to change from

[code]

to

[code]

BTW, I don't believe the PR addressed this issue at all.  I was just experimenting with the spring.

[2021-06-07 17:17] bdemers commented on #77
Hi @woldie!

This _should_ be fixed in the next release.  We added tests (and fixes) to make sure that both the `okta.oauth2.*` and standard `spring.security.oauth2.*` properties work.
(**Note:** the `okta.oauth2` properties are just alias to the Spring props)

cc: @arvindkrishnakumar-okta

[2021-06-09 16:42] woldie commented on #77
lovely, thank you!

On Mon, Jun 7, 2021 at 10:17 AM Brian Demers ***@***.***>
wrote:

[2021-09-22 17:13] sanders2096 opened #105 "Passing the client_id to the /api/v1/authn endpoint"
It seems from the documentation that there isn't a way to authenticate against an application, only the organization?
When I try to use the audience parameter even using postman it comes back with audience not supported error.

[2021-09-22 17:18] arvindkrishnakumar-okta commented on #105
@sanders2096 can you share more details about what you're trying to accomplish? If you could share a sample request/code snippet that would be helpful in understanding your use-case.

[2021-09-22 17:26] sanders2096 commented on #105
This call to https://my-okta-domain/api/v1/authn works. But this only authenticates agains the org not my app.

{
  "username": "my user name",
  "password": "my password",
  "options": {
    "multiOptionalFactorEnroll": true,
    "warnBeforePasswordExpired": true
  }
}

if I add audience parameter and pass  in the client id of my application to authenticate again my specific app in the organizati

[2021-09-22 17:26] sanders2096 commented on #105
Of course I'm just passing in generic info for my domain and user so you get the point rather than the actual values

[2021-09-23 22:00] arvindkrishnakumar-okta commented on #105
@sanders2096 If you are trying to authenticate an org user against a specific app, I recommend you try out the spring samples at:

- https://github.com/okta/samples-java-spring/tree/master/okta-hosted-login#okta-spring-security--okta-hosted-login-page-example
- https://github.com/okta/samples-java-spring/tree/master/custom-login#okta-spring-security--custom-login-page-example

[2021-11-22 20:33] alvarocamina opened #107 "Unable to load "messages", getting 401"
Hi,
I am trying to get the essentials of OIDC flows and ended up here, setting "samples-js-angular/custom-login" (https://github.com/okta/samples-js-angular) as Front-end and this "samples-java-spring/resources-server" as Back-end.
I managed to run the FE app (Angular) on localhost:8080 and I can see ID Token claims on "Profile" tab.
I have also run the BE app (Spring boot) on localhost:8000 and I

[2021-11-22 23:39] VitaliiTytarenko-okta commented on #107
Hi @alvarocamina
I've included this issue in our roadmap. Internal ref: [OKTA-448762](https://oktainc.atlassian.net/browse/OKTA-448762)
We will investigate your case and provide you with detailed information.
Thanks for using Okta!

[2021-11-25 08:34] alvarocamina commented on #107
Hi @VitaliiTytarenko-okta,
Thanks for getting involved in this issue.
I appreciate you even took the time to open an internal ticket in Okta, but un fortunately I cannot follow it up.
So I have to ask, is there any advance?
Should you need further data, trace or whatever, I'll be glad to share.
Thanks again,
Álvaro Camina

[2021-11-25 12:43] VitaliiTytarenko-okta commented on #107
@alvarocamina
I'm working on your issue.
Reference to the ticked - just for your info.
I'll get back to you soon with more details.

[2021-11-26 13:35] VitaliiTytarenko-okta commented on #107
Hi, @alvarocamina
Thanks for the detailed explanation with screenshots of your issue. I was able to reproduce this and deal with it.
And to make it work you just need to **add** `/oauth2/default` to **_issuer_**. So, you should run the app with:
[code]
The rest remained unchanged.

<img width="400" alt="Screenshot 2021-11-26 at 15 23 27" src="https://user-images.githubusercontent.com/74187216/1435

[2021-11-26 13:35] #107 closed

[2022-02-20 01:32] davekats commented on #48
I had to use `issuer-uri`.
`jwk-set-uri` wasn't working for me.
[code]
Or
[code]

[2022-02-21 17:12] bdemers commented on #48
@davekats Is there anything special about your setup?  Are you building a native-image with Graal? or behind a proxy?

Any additional info to help us track down the issue would be appreciated!

[2022-02-21 17:24] davekats commented on #48
Oh, no I was just pointing out that @snackycracky's suggestion didn't work for me but changing `jwk-set-uri` to `issuer-uri` did work. Adding the `okta.oauth2.issuer` property also works. I'm using the Okta Java SDK in a Spring Boot app. https://github.com/okta/okta-sdk-java

[2022-07-25 10:32] Axelcouty opened #133 "Vulnerability ? Upgarde spring-security-core ?"
Hello,

Thanks for these samples :).

When Adding the dependency within my project Intellij tells me there is a vulnerability issue (https://advisory.checkmarx.net/advisory/vulnerability/CVE-2022-22976/) because of the usage of spring-security-core:5.6.2. I believe there are [new versions available](https://mvnrepository.com/artifact/org.springframework.security/spring-security-core).

What do you

[2022-07-25 14:27] laura-rodriguez commented on #133
Hi @Axelcouty,

Thanks so much for reporting this issue. Our team will review it soon and prioritize accordingly.

[2022-07-25 16:01] arvindkrishnakumar-okta commented on #133
@Axelcouty Thanks for the post.

https://github.com/okta/samples-java-spring/pull/132 should take care of this upgrade along with the associated Spring dependencies.

[2022-07-25 17:23] arvindkrishnakumar-okta commented on #133
With the uppgrade in #132, we bring the latest dep version `5.7.2` of spring-security.

[2022-07-25 17:23] #133 closed

[2022-09-26 12:11] arvindkrishnakumar-okta commented on #105
Closing this due to inactivity, feel free to reopen if followup is needed.

[2022-09-26 12:11] #105 closed